.header{
  grid-area:hd;
  display: flex;
  flex-direction:column;
}

  #one-header-box{
    color:gray;
  }
  #two-header-box{
    text-decoration: underline;
    text-align: center;
  }
